<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "student" class="com.task1.Student">
        <property name = "id" value ="1"/>
        <property name = "name" value = "Summit"/>
    </bean>

<!--    Task2-->
    <bean id ="student2" class="com.task2.Student" >
        <property name = "studentId" value ="2"/>
        <property name = "studentName" value = "Nischal"/>
        <property name = "address"  ref="address1"/>
    </bean>

    <bean id ="address1" class="com.task2.Address" >
        <property name = "address" value = "Kathmandu"/>
    </bean>

<!--    Task3-->
    <bean id = "student3" class="com.task3.Student">
        <constructor-arg name="studentId" value="3"/>
        <constructor-arg name="studentName" value="Dharma"/>
        <constructor-arg name="address" ref="address2"/>
    </bean>
    <bean id ="address2" class="com.task3.Address" >
        <property name = "address" value = "Bhaktapur"/>
    </bean>

<!--    Task4-->
    <bean name="student4" class="com.task4.Student" autowire="constructor">
        <property name="studentId" value="4"></property>
        <property name="studentName" value="Ajay"></property>
    </bean>
    <bean name="address" class="com.task4.Address">
        <property name="address" value="India"></property>
    </bean>
</beans>